.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 120px;
    position: relative;
    overflow: hidden;
    background: #EDEDED;
}

.why {
    width: 100%;
    font-family: var(--font-main);
    max-width: 1360px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}  

.why-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.why__title {   
    color: #3a3a3a;
    font-size: 40px;
    text-transform: uppercase;
    line-height: 115%;
}

.why__line {
    width: 228px;
    height: 3px;
    background-color: #A3C1ff;
}

.why-subtitles {
    display: flex;
    gap: 120px;
}

.why-excerpt {
    display: flex;
    flex-direction: column;
    gap: 25px;  
}

.why-exceptr__titles {
    color: #A3C1ff;
    font-size: 30px;
    line-height: 115%;
    font-weight: bold;
}

.why-text__elem {
    font-family: var(--font-accent);
    font-size: 18px;
}

.why-subtitles > *:nth-child(2) {
    gap: 60px;
}

.why-blocks {
    display: grid;
    justify-content: center;
    gap: 20px;
    grid-template-columns: repeat(4, 325px);
}

.why-blocks__rect {
    width: 325px;
    height: 189px;
    background-color: #fff;
    border-color: rgba(58, 58, 58, 0.2);
    border-radius: 20px;
    padding: 25px 0 0 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    z-index: 3;
}

.why-blocks__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 25px;
}

.why-blocks__lines {
    display: flex;
    gap: 10px;
    align-items: center;
}

.why-blocks__line {
    display: block;
    width: 60px;
    height: 1px;
    background-color: rgba(58, 58, 58, 0.2);;
}

.why-blocks__line.why-blocks__line--vertical {
    width: 1px;
    height: 60px;
}

.why-blocks__line-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.why_protector__first {
    margin-top: 900px;
    right: -250px;
    position: absolute;
    width: 1258px;

}

.why_protector__second {
    position: absolute;
    width: 1258px;
    margin-top: 680px;
    transform: rotate(85deg);
    right: -450px;
}

.why-excerpt__br-mob {
    display: none;
}

.why-excerpt__br-tabl {
    display: none;
}

.why-blocks__rect-title {
    font-size: 18px;
    text-transform: uppercase;
    color: #A3C1ff;
}

.why-blocks__rect-text {
    font-family: var(--font-accent);
    font-size: 12px;
    line-height: 130%;
    width: 280px;
}


@media(min-width: 1920px) {
    .why__title {
        font-size: 60px;
    }

    .why__line {
        width: 341px;
    }

    .why-exceptr__titles {
        font-size: 45px;
    }

    .why_protector__first {
        display: none;
    }

    .why_protector__second {
        display: none;
    }

    .why {
        max-width: 1820px;
        gap: 90px;
    }

    .why-blocks__rect {
        width: 440px;
        height: 252px;
        gap: 25px;
        padding: 30px 0 0 30px;
    }

    .why-blocks {
        grid-template-columns: repeat(4, 440px);
    }

    .why-blocks__wrapper {
        margin-top: 33px;
        gap: 32px;
    }

    .why-blocks__lines {
        gap: 13px;
    }

    .why-blocks__line {
        width: 80px;
    }

    .why-blocks__line.why-blocks__line--vertical {
        height: 80px;
    }

    .why-blocks__line-wrapper {
        gap: 27px;
    }

    .why-text__elem {
        font-size: 25px;
    }

    .why-text {
        gap: 240px;
    }

    .why-subtitles > *:nth-child(2) {
       gap: 80px;
    }

    .why-blocks__rect-title {
        font-size: 30px;
        width: 273px;
        line-height: 115%;
    }

    .why-blocks__rect-text {
        font-size: 18px;
        width: 380px;
    }

    .why-blocks__rect-br {
        display: none;
    }

}

@media(max-width: 1440px) {
    .main {
        gap: 100px;
    }

    .why {
        gap: 40px;
        width: calc(100% - 60px);
        margin: 0 30px;
        max-width: 708px;
    }

    .why_protector__first {
        display: none;
    }

    .why_protector__second {
        display: none;
    }

    .why-blocks__lines {
        display: none;
    }

    .why-blocks__wrapper {
        margin-top: 0;
    }

    .why-excerpt__br {
        display: none;
    }
    .why__title {
        font-size: 30px;
    }

    .why__line {
        width: 171px;
    }

    .why-subtitles {
        flex-direction: column;
        gap: 30px;
    }

    .why-subtitles > *:nth-child(2) {
        gap: 20px;
    }

    .why-excerpt {
        gap: 20px;
    }

    .why-blocks__rect {
        width: 349px;
        height: 142px;
        padding: 20px 0 0 20px;
        gap: 20px;
    }

    .why-exceptr__titles {
        font-size: 20px;
    }

    .why-text__elem {
        font-size: 16px;
    }

    .why-blocks {
        grid-template-columns: repeat(2, 349px);
        justify-content: center;
    }   

    .why-excerpt__br-desk {
        display: none;
    }

    .why-excerpt__br-tabl {
        display: block;
    }

    .why-blocks__rect-br {
        display: none;
    }

    .why-blocks__rect-title {
        font-size: 18px;
    }

    .why-blocks__rect-text {
        font-size: 12px;
        width: 283px;
    }
}

@media(max-width: 768px) {
    .main {
        gap: 80px;
    }

    .why {
        width: calc(100% - 40px);
        margin: 0 20px;
        gap: 20px;
        max-width: 320px;
    }

    .why-blocks__rect {
        width: 320px;
        height: 132px;
        gap: 10px;
    }

    .why-blocks {
        grid-template-columns: repeat(1, 320px);
    }   

    .why__title {
        font-size: 24px;
    }

    .why__line {
        width: 115px;
    }

    .why-exceptr__titles {
        font-size: 18px;
        white-space: nowrap;
    }

    .why-text__elem {
        font-size: 12px;
    }

    .why-excerpt {
        gap: 10px;
    }

    .why-subtitles > *:nth-child(2) {
        gap: 10px;
    }

    .why-excerpt__br-mob {
        display: block;
    }

    .why-excerpt__br-tabl {
        display: none;
    }
}
