@font-face {
  font-family: "NeutralFace";
  src: url("./assets/fonts/NeutralFace-Bold.otf") format("truetype");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "Bounded";
  src: url("./assets/fonts/Bounded-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

:root {
  --font-main: "NeutralFace";
  --font-accent: "Bounded";
}

*, body, #root {
  margin: 0;
  padding: 0;
}

*, *::after, *::before {
  box-sizing: border-box;
}